prune tests
include AUTHORS.rst
include CHANGELOG.md
include LICENSE
include pyproject.toml
include README.rst
include src/*/py.typed
recursive-include osm_field/static/css *.*
recursive-include osm_field/static/js *.*
